body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 100px 500px;
	color: white;
}

#div1 {
	background-color: gray;
	padding: 30px 60px;
	border: 20px solid black;
}

#login {
	margin-left: 90px;
}

#pass {
	margin-left: 61px;
}

#confirmPass {
	margin-left: 2px;
}

#gender {
	margin-left: 77.5px;
}

#email {
	margin-left: 88px;
}

span {
	font-size: small;
	margin-left: 10px;
}

#div2 {
	padding-bottom: 1px;
}

button {
	padding: 5px 10px;
	font-size: medium;
}

input, select {
	padding-right: 40px;
}